@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
  font-family: 'Anton', sans-serif;
  background-image: url(https://i.ibb.co/FxmWj65/fondoz012.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body::-webkit-scrollbar {
    width: 0;     /* Tamaño del scroll en vertical */
    height: 0;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}
.contenedor{
   width: 100%;
   height: 100vh;
 }

 .info_user{
   width: 50%;
   height: auto;
   display: block;
   float: right;
   margin-top: 100px;
 }

 .menu_user{
   width: 50%;
   height: 100%;
   display: block;
   float: left;
 }
 .cuadro{
   float: inherit;
   margin-bottom: 20px;
   margin-left: 100px;
   margin-top: 50px;
   max-width: 100px;
   max-height: 100px;
   cursor: pointer;
   transition: 0.5s;
   background-color: red;
   border-radius: 20px;
 }
 .cuadro:hover{
   transform: scale(2);

 }

 .cuadro_image{
   width: 100%;
   height: 100%;
   display: flex;
 }

 .foto_perfil_user{
   margin: auto;
   display: flex;
   width: 20%;
   height: auto;
   position: relative;
   border-radius: 50%;
   border: 3px solid #fff;
 }

 .info1, .info2, .info3{
   margin-top: 20px;
   text-align: center;
   color: #fff;
 }
 .info1{
   font-size: 30px;
   color: red;
 }

 .name_user{
    color: #fff;
 }
 .info2{
   font-size: 20px;

 }
 .info3{
   font-size: 20px;
 }
